<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PawHelp"
        android:usesCleartextTraffic="true">
        <!-- Splash Screen - Main Launcher -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.PawHelp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Welcome & Auth Activities -->
        <activity
            android:name=".WelcomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Feature Activities -->
        <activity
            android:name=".TrangDoiNguActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".TrangVeChungToiActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".TrangDangBaiActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".TrangCuuHoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".TrangUserActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".TrangXemLichSuCuuHoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".UserProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".EditProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".PostDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".NotificationsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".RescueDashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>